In [1]:
import pandas as pd
import numpy as np
from sklearn.cluster import KMeans
import matplotlib.pyplot as plt  
%matplotlib inline

In [2]:
df=pd.read_csv("https://docs.google.com/spreadsheets/d/14dZQ5XLFG5-1NNGYTgclrTXlkEUiSWWiOCdkjNZaAfQ/gviz/tq?tqx=out:csv&sheet=personal_data")

In [3]:
df.head()

,token,year_of_birth,gender,ethnic_group,religion,residency,country_of_citizenship,marital_status,special_needs,returning_national_serviceman,organisation_of_employment,employment_job_title
0,32000_1,1994,M,CHINSE,NIL,International,China,Single,N,N,NaN,NaN
1,19700_2,1993,M,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,Y,NaN,NaN
2,12051_3,1993,F,NaN,NaN,International,France,Single,N,N,NaN,NaN
3,25996_4,1994,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,NaN,NaN
4,55742_5,1997,F,CHINSE,NIL,International,China,Single,N,N,NaN,NaN

In [4]:
# remove na rows
df.dropna()

,token,year_of_birth,gender,ethnic_group,religion,residency,country_of_citizenship,marital_status,special_needs,returning_national_serviceman,organisation_of_employment,employment_job_title
11,27451_12,1994,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Not Available,UNEMPLOYED
24,43679_25,1995,M,CHINSE,NIL,Singapore Permanent Resident,Malaysia,Single,N,Y,Not Available,Registrar
29,21258_30,1993,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Not Available,Intern
39,13559_40,1993,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,DEPARTMENT OF ELECTRICAL AND COMPUTER ENGINEERING,Officer
42,3620_43,1992,F,CHINSE,NIL,International,China,Single,N,N,Not Available,Intern
75,4611_76,1992,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Not Available,-
100,27884_101,1994,F,CHINSE,TAO,Singapore Citizen,Singapore,Single,N,N,DEPARTMENT OF ELECTRICAL AND COMPUTER ENGINEERING,Engineer
111,55373_112,1997,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,Not Available,software engineer
122,3713_123,1992,F,CHINSE,NIL,International,China,Single,N,N,Not Available,ENGINEER
124,20966_125,1993,M,CHINSE,NIL,International,China,Single,N,N,TAN TOCK SENG HOSPITAL,Manager
125,47890_126,1996,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,National University Hospital,Research Assistant
126,49028_127,1996,F,MALAY,MUSL,Singapore Citizen,Singapore,Single,N,N,Not Available,Assistant Engineer
128,52269_129,1996,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,Y,MINDEF,Internship
129,2257_130,1992,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,DSO National Laboratories,Project Assistant
134,42117_135,1995,M,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,Y,National University Hospital,ELECTRICAL ENGINEER
148,25525_149,1994,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,National University of Singapore,Test Engineer
153,15228_154,1993,F,CHINSE,NIL,International,China,Single,N,N,NHGP,Senior Engineer
155,31391_156,1994,M,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,Y,Not Available,Intern
161,56889_162,1997,F,CHINSE,TAO,Singapore Citizen,Singapore,Single,N,N,Not Available,OTHERS
173,15347_174,1993,F,CHINSE,NIL,International,China,Single,N,N,MINISTRY OF DEFENCE,Project Manager
202,38544_203,1995,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Ministry of Defence,PRODUCT ENGINEER
208,38875_209,1995,F,CHINSE,TAO,Singapore Citizen,Singapore,Single,N,N,Not Available,UNEMPLOYED
213,24833_214,1994,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,Not Available,Engineer
226,55394_227,1997,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,Not Available,Resident
234,52848_235,1996,M,CHINSE,TAO,Singapore Citizen,Singapore,Single,N,Y,Not Available,Software Engineer
235,19797_236,1993,M,CHINSE,BUDH,Singapore Permanent Resident,Malaysia,Single,N,N,Not Available,Programmer Analyst
248,60389_249,1998,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Not Available,Intern
250,16489_251,1993,F,CHINSE,OTHR,International,China,Single,N,N,Not Available,Intern
262,13201_263,1993,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,Not Available,ENGINEER
277,49117_278,1996,F,MALAY,MUSL,Singapore Citizen,Singapore,Single,N,N,CGH,SENIOR SOFTWARE ENGINEER
...,...,...,...,...,...,...,...,...,...,...,...,...
1555,7857_1556,1992,M,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,Y,Not Available,INTERN
1564,27766_1565,1994,F,CHINSE,OTHR,International,China,Single,N,N,Not Available,ELECTRICAL ENGINEER
1565,9869_1566,1992,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,Y,ST MICROELECTRONICS,Systems Engineer
1566,40608_1567,1995,M,CAUCAS,NIL,International,France,Single,N,N,Not Available,Intern
1569,25520_1570,1994,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,Not Available,System Engineer
1575,52363_1576,1996,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,Y,National University of Singapore,SITE ENGINEER
1621,21960_1622,1993,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,Y,IBM,UNEMPLOYED
1641,21223_1642,1993,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Not Available,Software Engineer
1646,15721_1647,1993,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,SINGAPORE GENERAL HOSPITAL,Intern
1651,16327_1652,1993,F,CHINSE,NIL,Singapore Permanent Resident,China,Single,N,N,MINDEF,Dental Officer
1656,27682_1657,1994,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,Y,N,Not Available,ENGINEER
1660,59962_1661,1998,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,Not Available,Software Engineer
1686,19503_1687,1993,M,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,Y,Not Available,ELECTRICAL ENGINEER
1698,45934_1699,1996,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,SINGAPORE POLYTECHNIC,Senior Staff Nurse
1719,19387_1720,1993,M,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,Y,Not Available,Intern
1753,25837_1754,1994,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,NOT APPLICABLE,DIRECTOR
1764,3174_1765,1992,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,Not Available,Programmer Analyst
1770,48727_1771,1996,F,CHINSE,TAO,Singapore Citizen,Singapore,Single,N,N,MINDEF/SAF HRSC,Resident Physician
1784,56737_1785,1997,F,CHINSE,NIL,Singapore Permanent Resident,China,Single,N,N,MINDEF/SAF HRSC,RESIDENT PHYSICIAN
1815,54177_1816,1997,F,CHINSE,BUDH,Singapore Citizen,Singapore,Single,N,N,Not Available,Senior Manager
1827,42979_1828,1995,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,Y,Not Available,Software Engineer
1833,54989_1834,1997,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,PUBLIC UTILITIES BOARD,ELECTRICAL ENGINEER
1837,24528_1838,1994,F,CHINSE,BUDH,International,Malaysia,Single,N,N,Not Available,Pharmacist
1854,11317_1855,1992,M,MALAY,MUSL,Singapore Citizen,Singapore,Single,N,Y,SHOWA DENKO HD SINGAPORE PTE LTD,ASSISTANT ENGINEER
1872,61780_1873,1998,M,CHINSE,BUDH,International,Malaysia,Single,N,N,Not Available,Assistant Manager
1873,37096_1874,1995,F,CHINSE,CHRS,Singapore Citizen,Singapore,Single,N,N,National Environment Agency,Senior Executive
1882,42865_1883,1995,M,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,Tata Consultancy Services,OTHERS
1930,14951_1931,1993,F,CHINSE,CHRS,Singapore Permanent Resident,Indonesia,Single,N,N,MALAYSIA AIRPORTS SDN BHD,Research Assistant
1940,12776_1941,1993,F,CAUCAS,NIL,International,Australia,Single,N,N,NOT APPLICABLE,ENGINEERING ASSISTANT
1982,16105_1983,1993,F,CHINSE,NIL,Singapore Citizen,Singapore,Single,N,N,NCS PTE LTD,UNEMPLOYED

In [5]:
# a new dataframe to store clean data
clean=pd.DataFrame()

In [6]:
clean["token"]=df["token"]

In [7]:
# get age
clean["age"]= 2019-df["year_of_birth"]

In [8]:
cols=df.columns.tolist()

In [9]:
cols

['token',
 'year_of_birth',
 'gender',
 'ethnic_group',
 'religion',
 'residency',
 'country_of_citizenship',
 'marital_status',
 'special_needs',
 'returning_national_serviceman',
 'organisation_of_employment',
 'employment_job_title']

In [10]:
cols=cols[2:6]+cols[7:8]

In [11]:
cols

['gender', 'ethnic_group', 'religion', 'residency', 'marital_status']

In [12]:
for i in range(0,len(cols)):
    clean=pd.concat([clean,pd.get_dummies(df[cols[i]])],axis=1)

In [13]:
clean.head()

,token,age,F,M,CAUCAS,CHINSE,EURAS,INDIAN,MALAY,OTHERS,...,HIND,MUSL,NIL,OTHR,SIKH,TAO,International,Singapore Citizen,Singapore Permanent Resident,Single
0,32000_1,25,0,1,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1
1,19700_2,26,0,1,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
2,12051_3,26,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,1
3,25996_4,25,1,0,0,1,0,0,0,0,...,0,0,0,0,0,0,0,1,0,1
4,55742_5,22,1,0,0,1,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [14]:
clean.columns.tolist()

['token',
 'age',
 'F',
 'M',
 'CAUCAS',
 'CHINSE',
 'EURAS',
 'INDIAN',
 'MALAY',
 'OTHERS',
 'BUDH',
 'CHRS',
 'HIND',
 'MUSL',
 'NIL',
 'OTHR',
 'SIKH',
 'TAO',
 'International',
 'Singapore Citizen',
 'Singapore Permanent Resident',
 'Single']

In [15]:
kmeans = KMeans(n_clusters=5)

In [16]:
clean_withoutToken=clean.drop(columns="token")

In [17]:
clean_withoutToken.head(1)

,age,F,M,CAUCAS,CHINSE,EURAS,INDIAN,MALAY,OTHERS,BUDH,...,HIND,MUSL,NIL,OTHR,SIKH,TAO,International,Singapore Citizen,Singapore Permanent Resident,Single
0,25,0,1,0,1,0,0,0,0,0,...,0,0,1,0,0,0,1,0,0,1

In [18]:
kmeans.fit(clean_withoutToken)

KMeans(algorithm='auto', copy_x=True, init='k-means++', max_iter=300,
    n_clusters=5, n_init=10, n_jobs=1, precompute_distances='auto',
    random_state=None, tol=0.0001, verbose=0)

In [19]:
cluster=kmeans.labels_.tolist()

In [20]:
clean["label"]=cluster

In [21]:
clean.label.value_counts()

4    489
0    420
1    402
2    354
3    334
Name: label, dtype: int64